<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="46be79d3-7c34-4e7e-854d-5960b9b606af" name="OliviaBee" alias="oliviabee" type="Starter">
  <environment type="live" name="Live" id="ab6ecf39-a25b-4128-b0e1-0560231d1051">https://oliviabee.s1.umbraco.io</environment>
</environments>